label {
    font-size: 11pt;
    font-family: comic sans ms;
    color: #9b12c5;
}

input {
    font-size: 13pt;
    font-family: comic sans ms;
}

.form-control {
    /*membuat lebar form penuh*/
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_add {
    background: #9b6bbb;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.container {
    width: 350px;
    background: white;
    /*meletakkan form ke tengah*/
    margin: 80px auto;
    padding: 30px 20px;
    box-shadow: 0px 0px 100px 4px #d6d6d6;
    border-radius: 10px;
}